<a href="https://colab.research.google.com/github/TawatPont/basic_python_pea/blob/master/Copy_of_Plot_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Libraries

In [0]:
# import
import requests
import datetime
from datetime import datetime
from pandas import DataFrame
import json
import calendar

import plotly.plotly as py
import plotly.tools as tls
import plotly.graph_objs as go
tls.set_credentials_file(username='TawatPont', api_key='1X8suAZISiXnXkn1tqRq')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import Image
%matplotlib inline

In [0]:
from pandas import DataFrame

# checkout data

### 2. Inverter ###

In [0]:
iris_excel_path = "https://github.com/TPponmat/basic_python_pea/raw/master/4)plotly/SD1740L010%20-%202018-02-20.xls"
inverter_data = pd.read_excel(iris_excel_path, parse_dates = True, index_col = 0)
inverter_data.head(5)

                                      Time  ... Bat_Percent(%)
Alias / Serial number                       ...
SD1740L010             2018-02-20 00:00:33  ...             54
SD1740L010             2018-02-20 00:05:33  ...             54
SD1740L010             2018-02-20 00:10:33  ...             54
SD1740L010             2018-02-20 00:15:33  ...             54
SD1740L010             2018-02-20 00:20:33  ...             54

[5 rows x 32 columns]

In [0]:
inverter_data.columns

Index(['Time', 'Status', 'Vpv1(V)', 'Ipv1(A)', 'Ppv1(W)', 'Vpv2(V)', 'Ipv2(A)',
       'Ppv2(W)', 'Ppv(W)', 'Vac(R)(V)', 'VacS(V)', 'VacT(V)', 'Iac(R)(A)',
       'IacS(A)', 'IacT(A)', 'Fac(Hz)', 'Pac(W)', 'PacR(W)', 'PacS(W)',
       'PacT(W)', 'Temperature(℃)', 'Eac_today(kWh)', 'Eac_total(kWh)',
       'T_total(H)', 'Bat_Volt(V)', 'Bat_Power(W)', 'Output_Volt(V)',
       'Output_Freq(Hz)', 'Load_Power(W)', 'CHG_Temperature(℃)',
       'Bat_Temperature(℃)', 'Bat_Percent(%)'],
      dtype='object')

In [0]:
inverter_data.describe()

          Vpv1(V)     Ipv1(A)  ...  Bat_Temperature(℃)  Bat_Percent(%)
count  259.000000  259.000000  ...          259.000000      259.000000
mean   135.792664    1.014286  ...           30.243243       70.335907
std    135.263545    1.765559  ...            2.060778       20.965991
min     10.500000    0.000000  ...           26.000000       46.000000
25%     11.100000    0.000000  ...           28.000000       50.000000
50%     13.500000    0.000000  ...           31.000000       63.000000
75%    270.650000    1.200000  ...           32.000000       98.000000
max    327.400000    6.700000  ...           33.000000       98.000000

[8 rows x 30 columns]

In [0]:
inverter_data['Time'] = pd.to_datetime(inverter_data['Time'], format='%Y-%m-%d %H:%M:%S') 
inverter_data.head()

                                     Time  ... Bat_Percent(%)
Alias / Serial number                      ...
SD1740L010            2018-02-20 00:00:33  ...             54
SD1740L010            2018-02-20 00:05:33  ...             54
SD1740L010            2018-02-20 00:10:33  ...             54
SD1740L010            2018-02-20 00:15:33  ...             54
SD1740L010            2018-02-20 00:20:33  ...             54

[5 rows x 32 columns]

In [0]:
time = [u'20/02/2018 00:00', u'20/02/2018 01:00', u'20/02/2018 01:00', u'20/02/2018 02:00', u'20/02/2018 03:00', u'20/02/2018 04:00', u'20/02/2018 04:00', u'20/02/2018 06:00', u'20/02/2018 06:30', u'20/02/2018 07:00', u'20/02/2018 07:00', u'20/02/2018 08:00', u'20/02/2018 09:00', u'20/02/2018 10:00', u'20/02/2018 10:00', u'20/02/2018 11:00', u'20/02/2018 12:00', u'20/02/2018 13:00', u'20/02/2018 13:00', u'20/02/2018 14:00', u'20/02/2018 15:00', u'20/02/2018 16:00', u'20/02/2018 16:00', u'20/02/2018 17:00', u'20/02/2018 17:30', u'20/02/2018 18:00', u'20/02/2018 19:00', u'20/02/2018 19:00', u'20/02/2018 20:00', u'20/02/2018 21:00', u'20/02/2018 22:00', u'20/02/2018 22:00', u'20/02/2018 23:00']
temp = [u'27.0', u'28', u'26.0', u'26.0', u'26.0', u'26', u'25.0', u'23.0', u'23.0', u'25', u'23.0', u'26.0', u'28.0', u'30', u'31.0', u'32.0', u'33.0', u'34', u'33.0', u'34.0', u'35.0', u'35', u'35.0', u'34.0', u'33.0', u'31.0', u'32', u'30.0', u'29.0', u'28.0', u'29', u'26.0', u'25.0']


humidity=[u'74', u'61', u'78', u'78', u'74', u'65', u'78', u'88', u'88', u'73', u'88', u'83', u'84', u'54', u'66', u'62', u'59', u'37', u'55', u'52', u'49', u'34', u'47', u'46', u'55', u'62', u'35', u'58', u'66', u'70', u'60', u'83', u'89']
windspeed=[u'5.6', u'0.0', u'0.0', u'5.6', u'5.6', u'0.0', u'5.6', u'3.7', u'3.7', u'0.0', u'0.0', u'3.7', u'11.1', u'9.3', u'9.3', u'9.3', u'11.1', u'9.3', u'5.6', u'5.6', u'7.4', u'7.4', u'3.7', u'3.7', u'0.0', u'0.0', u'0.0', u'0.0', u'0.0', u'0.0', u'0.0', u'0.0', u'0.0']
pressure=[u'1010', u'1010', u'1010', u'1010', u'1010', u'1010', u'1010', u'1011', u'1011', u'1011', u'1011', u'1012', u'1013', u'1012', u'1013', u'1012', u'1010', u'1008', u'1009', u'1008', u'1007', u'1006', u'1007', u'1007', u'1007', u'1007', u'1007', u'1008', u'1008', u'1009', u'1008', u'1009', u'1009']
conditions=[u'Mostly Cloudy', u'Scattered Clouds', u'Scattered Clouds', u'Scattered Clouds', u'Scattered Clouds', u'Partly Cloudy', u'Scattered Clouds', u'Scattered Clouds', u'Mostly Cloudy', u'Scattered Clouds', u'Mostly Cloudy', u'Mostly Cloudy', u'Unknown', u'Scattered Clouds', u'Partly Cloudy', u'Scattered Clouds', u'Scattered Clouds', u'Scattered Clouds', u'Scattered Clouds', u'Scattered Clouds', u'Partly Cloudy', u'Scattered Clouds', u'Partly Cloudy', u'Unknown', u'Unknown', u'Unknown', u'Clear', u'Unknown', u'Unknown', u'Unknown', u'Clear', u'Unknown', u'Unknown']

time_new = pd.to_datetime(time, format='%d/%m/%Y %H:%M')
time_new

DatetimeIndex(['2018-02-20 00:00:00', '2018-02-20 01:00:00',
               '2018-02-20 01:00:00', '2018-02-20 02:00:00',
               '2018-02-20 03:00:00', '2018-02-20 04:00:00',
               '2018-02-20 04:00:00', '2018-02-20 06:00:00',
               '2018-02-20 06:30:00', '2018-02-20 07:00:00',
               '2018-02-20 07:00:00', '2018-02-20 08:00:00',
               '2018-02-20 09:00:00', '2018-02-20 10:00:00',
               '2018-02-20 10:00:00', '2018-02-20 11:00:00',
               '2018-02-20 12:00:00', '2018-02-20 13:00:00',
               '2018-02-20 13:00:00', '2018-02-20 14:00:00',
               '2018-02-20 15:00:00', '2018-02-20 16:00:00',
               '2018-02-20 16:00:00', '2018-02-20 17:00:00',
               '2018-02-20 17:30:00', '2018-02-20 18:00:00',
               '2018-02-20 19:00:00', '2018-02-20 19:00:00',
               '2018-02-20 20:00:00', '2018-02-20 21:00:00',
               '2018-02-20 22:00:00', '2018-02-20 22:00:00',
               '2018-02-20 23:00:00'],
              dtype='datetime64[ns]', freq=None)

In [0]:
print(max(temp))
print(min(temp))
print(max(humidity))
print(min(humidity))

35.0
23.0
89
34

In [0]:
trace5 = go.Scatter(
    x=time_new,
    y=humidity,
    name='Humidity111',
    yaxis='y2'
)

data = [trace5]
layout = go.Layout(
    xaxis=dict(
        title='time'
    ),
    yaxis=dict(
        title='Temperature (C)'
    )
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='test1')

# 3. Inverter another day

In [0]:
iris_excel_path = "https://github.com/TPponmat/basic_python_pea/raw/master/4)plotly/SD1740L010%20-%202018-02-20.xls"
inverter_data = pd.read_excel(iris_excel_path, parse_dates = True, index_col = 0)
inverter_data.head()
inverter_data.describe().transpose()

                    count        mean         std  ...    50%     75%     max
Vpv1(V)             259.0  135.792664  135.263545  ...   13.5  270.65   327.4
Ipv1(A)             259.0    1.014286    1.765559  ...    0.0    1.20     6.7
Ppv1(W)             259.0  283.899614  475.549684  ...    0.0  377.00  1780.0
Vpv2(V)             259.0  143.735907  138.801643  ...   17.6  303.45   326.0
Ipv2(A)             259.0    0.511969    1.128477  ...    0.0    0.20     5.2
Ppv2(W)             259.0  147.915058  317.547971  ...    0.0   89.00  1390.0
Ppv(W)              259.0  431.814672  755.103394  ...    0.0  441.50  2782.0
Vac(R)(V)           259.0  232.239382   33.145045  ...  235.9  241.10   255.4
VacS(V)             259.0    0.000000    0.000000  ...    0.0    0.00     0.0
VacT(V)             259.0  197.569498    3.703177  ...  199.3  199.55   203.6
Iac(R)(A)           259.0    1.996139    1.756313  ...    1.2    3.40     9.9
IacS(A)             259.0    0.000000    0.000000  ...    0.0    0.00     0.0
IacT(A)             259.0    0.000000    0.000000  ...    0.0    0.00     0.0
Fac(Hz)             259.0   49.024324    6.891703  ...   50.0   50.00    50.1
Pac(W)              259.0  -58.629344  246.916554  ...   -6.0   10.50   902.0
PacR(W)             259.0    0.000000    0.000000  ...    0.0    0.00     0.0
PacS(W)             259.0    0.000000    0.000000  ...    0.0    0.00     0.0
PacT(W)             259.0    0.000000    0.000000  ...    0.0    0.00     0.0
Temperature(℃)      259.0   42.287259    5.650509  ...   43.3   46.15    55.0
Eac_today(kWh)      259.0    6.046718    2.393389  ...    6.5    7.80    10.4
Eac_total(kWh)      259.0  332.289189    3.399778  ...  331.0  335.00   338.7
T_total(H)          259.0  601.664093    7.127242  ...  602.0  608.00   614.0
Bat_Volt(V)         259.0   53.127413    0.947161  ...   52.6   53.70    57.2
Bat_Power(W)        259.0   29.864865  774.749227  ...   59.0  162.50  1976.0
Output_Volt(V)      259.0  232.487259    5.762431  ...  231.8  236.95   250.8
Output_Freq(Hz)     259.0   49.989961    0.038069  ...   50.0   50.00    50.1
Load_Power(W)       259.0  479.810811  479.980473  ...  225.0  941.00  2615.0
CHG_Temperature(℃)  259.0   41.672973    5.703178  ...   42.7   45.25    54.5
Bat_Temperature(℃)  259.0   30.243243    2.060778  ...   31.0   32.00    33.0
Bat_Percent(%)      259.0   70.335907   20.965991  ...   63.0   98.00    98.0

[30 rows x 8 columns]

In [0]:
inverter_data['Time'] = pd.to_datetime(inverter_data['Time'], format='%Y-%m-%d %H:%M:%S') 
data_to_use = inverter_data.copy()
inverter_data.head()

                                     Time  ... Bat_Percent(%)
Alias / Serial number                      ...
SD1740L010            2018-02-20 00:00:33  ...             54
SD1740L010            2018-02-20 00:05:33  ...             54
SD1740L010            2018-02-20 00:10:33  ...             54
SD1740L010            2018-02-20 00:15:33  ...             54
SD1740L010            2018-02-20 00:20:33  ...             54

[5 rows x 32 columns]

# Weather

In [0]:
# http://api.wunderground.com/api/91cb5e6aefa48a31/history_20180220/q/TH/Ubon_Ratchathani.json

In [0]:
time = [u'20/02/2018 00:00', u'20/02/2018 01:00', u'20/02/2018 01:00', u'20/02/2018 02:00', u'20/02/2018 03:00', u'20/02/2018 04:00', u'20/02/2018 04:00', u'20/02/2018 06:00', u'20/02/2018 06:30', u'20/02/2018 07:00', u'20/02/2018 07:00', u'20/02/2018 08:00', u'20/02/2018 09:00', u'20/02/2018 10:00', u'20/02/2018 10:00', u'20/02/2018 11:00', u'20/02/2018 12:00', u'20/02/2018 13:00', u'20/02/2018 13:00', u'20/02/2018 14:00', u'20/02/2018 15:00', u'20/02/2018 16:00', u'20/02/2018 16:00', u'20/02/2018 17:00', u'20/02/2018 17:30', u'20/02/2018 18:00', u'20/02/2018 19:00', u'20/02/2018 19:00', u'20/02/2018 20:00', u'20/02/2018 21:00', u'20/02/2018 22:00', u'20/02/2018 22:00', u'20/02/2018 23:00']
temp = [u'27.0', u'28', u'26.0', u'26.0', u'26.0', u'26', u'25.0', u'23.0', u'23.0', u'25', u'23.0', u'26.0', u'28.0', u'30', u'31.0', u'32.0', u'33.0', u'34', u'33.0', u'34.0', u'35.0', u'35', u'35.0', u'34.0', u'33.0', u'31.0', u'32', u'30.0', u'29.0', u'28.0', u'29', u'26.0', u'25.0']
time_new = pd.to_datetime(time, format='%d/%m/%Y %H:%M')
time_new

DatetimeIndex(['2018-02-20 00:00:00', '2018-02-20 01:00:00',
               '2018-02-20 01:00:00', '2018-02-20 02:00:00',
               '2018-02-20 03:00:00', '2018-02-20 04:00:00',
               '2018-02-20 04:00:00', '2018-02-20 06:00:00',
               '2018-02-20 06:30:00', '2018-02-20 07:00:00',
               '2018-02-20 07:00:00', '2018-02-20 08:00:00',
               '2018-02-20 09:00:00', '2018-02-20 10:00:00',
               '2018-02-20 10:00:00', '2018-02-20 11:00:00',
               '2018-02-20 12:00:00', '2018-02-20 13:00:00',
               '2018-02-20 13:00:00', '2018-02-20 14:00:00',
               '2018-02-20 15:00:00', '2018-02-20 16:00:00',
               '2018-02-20 16:00:00', '2018-02-20 17:00:00',
               '2018-02-20 17:30:00', '2018-02-20 18:00:00',
               '2018-02-20 19:00:00', '2018-02-20 19:00:00',
               '2018-02-20 20:00:00', '2018-02-20 21:00:00',
               '2018-02-20 22:00:00', '2018-02-20 22:00:00',
               '2018-02-20 23:00:00'],
              dtype='datetime64[ns]', freq=None)

In [0]:
trace5 = go.Scatter(
    x=time_new,
    y=temp,
    name='Ppv(W)',
    yaxis='y1'
)

trace6 = go.Scatter(
    x=data_to_use['Time'],
    y=-1*data_to_use['Pac(W)'],
    name='Pac(W)',
    yaxis='y1'
)

data = [trace5,trace6]
layout = go.Layout(
    xaxis=dict(
        title='time'
    ),
    yaxis=dict(
        title='Outdoor Temp (C)'
    )
)
fig = go.Figure(data=data, layout=layout)
py.iplot(fig, filename='test/test')